.post {
    background-color: white;
    max-width: 600px;
    width: 90vw;
    padding: 16px;
}

.post_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post_headerleft {
    display: flex;
    align-items: center;
}
.post_profilepic {
    height: 35px;
    border-radius: 8px;
}